#quiz .question,.particles .row{box-shadow:1px 1px 9px 1px #e6e6e6}
.home-banner .slider-images:not(.slick-initialized) .bg-image-cover,[id^=particles-js].disable-particles{opacity:0}
#quiz .question-number,#quiz .question-title,#quiz .quiz-results .grid-item :not(.button),#quiz .top-degree,.home-banner .banner-tagline,.home-banner .slider-degrees .slide p,.two-column-jobs,span.plus:before{font-family:BentonSansBold,Arial,sans-serif;font-weight:400}
main{position:relative;padding-top:10px}
@media screen and (min-width:64.0625em){main{padding-top:50px}
#home main{padding-top:0}
}
#home .section.particles .layout,.section.particles .layout{background:#fff;padding:3rem}
[id^=particles-js]{position:absolute;width:100%;height:100%;background-image:url();background-repeat:no-repeat;background-size:cover;background-position:50% 50%;top:0;transition:opacity .5s ease-in-out}
.particles .play-controls{position:relative;bottom:0;left:50%;-ms-transform:translateX(-50%);transform:translateX(-50%);margin:24px 0;max-width:64rem;width:100%}
@media screen and (min-width:40em){.particles{padding-bottom:0}
}
.home-banner#content{margin-top:0 !important;}
.js .home-banner{background-color:#4A3C31}
.js .home-banner .banner-tagline,.js .home-banner .slider-degrees{opacity:0;transition:opacity .5s ease-in-out}
.js .home-banner .slider-degrees.slick-initialized,.js .home-banner .slider-degrees.slick-initialized+.banner-tagline{opacity:1}
.home-banner{height:350px;padding-bottom:0;padding-top:0}
.home-banner .row{max-width:1800px;z-index:2}
.home-banner .slick-slider{margin-bottom:0}
.home-banner .slider-degrees:not(.slick-initialized){overflow:hidden}
.home-banner .slider-degrees{color:#fff;text-align:center;text-transform:uppercase;width:100%}
.home-banner .layout,.home-banner .row,.home-banner .slider-degrees,.home-banner .slider-images{height:100%}
.home-banner .slider-degrees,.home-banner .slider-degrees .slick-list{height:93%!important}
.home-banner .slider-degrees .slide{display:block;position:relative;height:56px}
.home-banner .slider-degrees .slide p{position:absolute;margin-bottom:0;left:50%;opacity:.5;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:80%}
.home-banner .slider-degrees .slide a{color:#fff}
.home-banner .slick-active.slick-center:not(.slick-cloned){font-size:1.5rem;margin-top:21px;margin-bottom:80px}
.home-banner .slick-active.slick-center:not(.slick-cloned) p{line-height:26px;opacity:1;top:auto;bottom:0;-ms-transform:translateX(-50%);transform:translateX(-50%)}
.home-banner .banner-tagline{background:#fff;color:#006298;position:absolute;margin-top:30px;left:50%;line-height:20px;padding:8px;text-align:center;text-transform:uppercase;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%;transition:all 1s ease-in-out}
.home-banner.two-line-degree .slick-active.slick-center:not(.slick-cloned){margin-top:40px}
.home-banner.two-line-degree .banner-tagline{margin-top:48px}
.home-banner.two-line-degree.one-line-tagline .slick-active.slick-center:not(.slick-cloned){margin-top:50px}
.home-banner.three-line-degree .slick-active.slick-center:not(.slick-cloned){margin-top:72px;margin-bottom:72px}
.home-banner.three-line-degree .banner-tagline{margin-top:80px}
.home-banner.three-line-degree.one-line-tagline .slick-active.slick-center:not(.slick-cloned){margin-top:72px}
.home-banner.three-line-degree.one-line-tagline .banner-tagline{margin-top:70px}
.home-banner.one-line-tagline .slick-active.slick-center:not(.slick-cloned){margin-top:18px;margin-bottom:70px}
.home-banner .play-controls{height:0}
.home-banner .play-pause{margin:-11px auto 0}
.home-banner .slick-next,.home-banner .slick-prev{background:0 0;top:100%}
.home-banner .slick-next:before,.home-banner .slick-prev:before{color:rgba(250,250,250,.75);text-shadow:.5px .5px 0 #000,.5px -.5px 0 #000,-.5px .5px 0 #000,-.5px -.5px 0 #000,.5px 0 0 #000,0 .5px 0 #000,-.5px 0 0 #000,0 -.5px 0 #000}
.home-banner .slick-next:hover:before,.home-banner .slick-prev:hover:before{color:#fff}
.home-banner .slick-next:focus,.home-banner .slick-prev:focus{border:none;box-shadow:none;outline:-webkit-focus-ring-color auto 5px}
.home-banner .slick-prev{left:calc(50% - 60px)}
.home-banner .slick-next{right:calc(50% - 60px)}
.home-banner:before{content:"";background-image:url(img/screen-overlay_pattern.png);height:100%;position:absolute;width:100%;z-index:1}
@media screen and (max-width:39.9375em){.home-banner .banner-tagline{max-width:250px}
}
@media screen and (max-width:64em){.home-banner .slider-images{display:none}
}
@media screen and (min-width:40em){.home-banner .slick-active.slick-center:not(.slick-cloned){margin-top:28px;margin-bottom:64px}
.home-banner .slick-active.slick-center:not(.slick-cloned) p{font-size:2.25rem;line-height:36px}
.home-banner .banner-tagline{margin-top:34px;padding:16px 20px}
}
@media screen and (min-width:64.0625em){.home-banner{height:600px}
.home-banner>.bg-image-cover{display:none}
.home-banner .layout{padding-left:0!important;padding-right:0!important}
.home-banner .layout:before{content:"";background-image:url(img/screen-overlay_pattern.png);height:100%;position:absolute;width:100%;z-index:1}
.home-banner .slider-images{overflow:hidden}
.home-banner .slider-images .slick-list,.home-banner .slider-images .slick-slide,.home-banner .slider-images .slick-track{height:inherit}
.home-banner .slider-degrees{position:absolute;top:0}
.home-banner .slider-degrees,.home-banner .slider-degrees .slick-list{height:100%!important}
.home-banner .banner-tagline,.home-banner .slider-degrees{z-index:1}
.home-banner .slider-degrees .slide{height:51px;transition:all .75s ease-in-out;cursor:-webkit-grab;cursor:grab;left:50%;-ms-transform:translateX(-50%);transform:translateX(-50%)}
.home-banner .slider-degrees .slide p{transition:all 1s ease-in-out;cursor:pointer;width:100%}
.home-banner .slider-degrees .slick-track{margin-top:147px}
.home-banner .slick-active.slick-center:not(.slick-cloned){margin-top:.5rem;margin-bottom:3.5rem;max-width:64rem}
.home-banner .slick-active.slick-center:not(.slick-cloned).short-degree-name p{font-size:3rem;line-height:56px}
.home-banner .slick-active.slick-center:not(.slick-cloned) a:hover{font-size:3.125rem;text-shadow:1px 1px 1px #fff,1px 1px 1px #EDEBEB;transition:all .25s ease-in-out}
.home-banner .slick-active.slick-center:not(.slick-cloned).long-degree-name{margin-top:-.125rem}
.home-banner .slick-active.slick-center:not(.slick-cloned).long-degree-name p{font-size:3rem}
.home-banner .slick-active.slick-center:not(.slick-cloned).long-degree-name a:hover{font-size:3.125rem}
.home-banner .banner-tagline{font-size:1.75rem;margin-top:1.3125rem;max-width:64rem;padding:16px 20px;width:100%}
.home-banner.two-line-degree .slick-active.slick-center:not(.slick-cloned){margin-top:4.5rem;margin-bottom:4rem}
.home-banner.two-line-degree .banner-tagline{margin-top:5.625rem}
.home-banner .play-controls{margin-top:-40px}
.home-banner .play-controls .row{max-width:64rem}
.home-banner .play-pause{margin:0}
}
body:not(.has-sticky) .quiz-open .off-canvas-content:before,body:not(.has-sticky).quiz-open #header{content:'';position:absolute;width:100%;height:100%;background:#fff;z-index:1}
#quiz{visibility:hidden;opacity:0;width:100%;height:calc(100% - 52px);position:fixed;top:52px;bottom:0;left:0;right:0;z-index:100;-ms-transform:translateY(-100%);transform:translateY(-100%);transition:all ease-in-out .5s;overflow-x:hidden;overflow-y:scroll;background-color:#fff;background-image:url(img/static-plexus.png);background-size:cover}
#quiz.maximized{z-index:10;visibility:visible;opacity:1;-ms-transform:translateY(0);transform:translateY(0)}
#quiz a:not(.button){text-decoration:underline}
#quiz .question,#quiz .results .content{margin:0 auto}
#quiz .question{background:#fff;padding:1rem;position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:80vw}
#quiz .question.quizComplete{top:64px;-ms-transform:translateX(-50%);transform:translateX(-50%)}
#quiz .question-number{color:#006298;display:inline-block}
#quiz .question-title{font-size:1.5rem;margin:0 auto 32px}
#quiz .quiz-choices input{position:absolute;left:-999999px}
#quiz .quiz-choices input:focus+label{outline:#212121 dotted 1px;outline:-webkit-focus-ring-color auto 5px}
#quiz .quiz-choices input:checked+label{background:#deebf2;border:2px solid #006298}
#quiz .quiz-choices label{border:2px solid #4A3C31;margin-bottom:1rem;margin-left:1rem;margin-right:1rem;padding:1rem}
#quiz .quiz-choices .radio-box{display:inline-block;width:auto}
#quiz .quiz-actions{margin-bottom:0}
#quiz .next-button,#quiz .submit-quiz{display:none}
#quiz .next-button.show,#quiz .submit-quiz.show{display:inline-block;margin-top:1.5rem}
#quiz .button-link{background-color:transparent;color:#006298;cursor:pointer;font-size:1.25rem;text-decoration:underline}
#quiz .button-link:focus,#quiz .button-link:hover{color:#01426A}
#quiz .quiz-results .grid-item p{line-height:1.75rem}
#quiz .top-degree{color:#006298;display:inline-block;font-size:2rem}
#quiz #close-quiz{background:#fff;color:#006298;padding:1.5rem;position:fixed;right:0;text-decoration:underline;top:0}
.college-nav,.college-nav a,.home-student-work .image-essay figcaption a:not(.button),.home-student-work .image-essay figcaption a:not(.button) span,.home-student-work .image-essay figcaption a:not(.button):focus,.home-student-work .image-essay figcaption a:not(.button):focus span,.home-student-work .image-essay figcaption a:not(.button):hover,.home-student-work .image-essay figcaption a:not(.button):hover span{color:#fff}
#quiz .results .bg-image-cover{z-index:-1}
#quiz .results .content{background-color:#fff;padding:1rem;width:40vw;z-index:2}
@media screen and (max-width:39.9375em){#quiz .question{top:37%;-ms-transform:translate(-50%,-37%);transform:translate(-50%,-37%)}
}
@media screen and (min-width:40em){#quiz .question{padding:4rem 1rem}
}
@media screen and (min-width:64.0625em){#quiz .results{position:relative}
#quiz .results .content{position:relative;margin-bottom:2rem;margin-top:2rem}
#quiz .career-model{position:absolute;top:0;left:100%;width:300px}
#quiz .career-model img{width:100%}
#quiz .question{padding:4.5rem;margin-bottom:2rem;max-width:45vw;top:104px;-ms-transform:translateX(-50%);transform:translateX(-50%)}
#quiz .question.quizComplete{padding:2.5rem}
#quiz .quiz-results .grid{margin-bottom:2.5rem;margin-top:2.5rem}
#quiz .quiz-results .grid-item:first-child{border-right:2px solid #4A3C31;padding-right:2.5rem}
#quiz .quiz-results .grid-item:last-child{padding-left:2.5rem}
#quiz .top-degree{font-size:3rem}
#quiz #close-quiz{margin-right:2rem;top:1.25rem}
.has-banner .social-share{top:-28px}
}
.home-student-work .image-essay .image{position:relative}
.home-student-work .image-essay figcaption{background:rgba(0,0,0,.8);bottom:0;color:#fff;padding:.5rem;position:absolute;z-index:1}
.home-student-work .button+.image-essay{margin-top:1rem}
@media screen and (min-width:40em){.home-student-work .image-essay figcaption{padding-left:1rem;padding-right:1rem}
}
.skirt{padding-top:0}
span.plus{display:inline-block;width:0;padding-left:.6em;overflow:hidden;vertical-align:top}
span.plus:before{content:"+";margin-left:-.6em}
.college-nav{font-size:.875rem}
.college-nav li:after{content:" > ";font-size:.75rem}
.college-nav li:last-child:after{content:""}
@media screen and (max-width:39.9375em){.skirt .college-nav{text-align:center}
.skirt .college-nav li{display:inline;margin:0 auto;width:100%}
}
.home-spotlight .subtitle{text-transform:uppercase}
#home .particles .panel:before{content:none}
#home .particles .title{color:#006298}
@media screen and (min-width:40em){#home .particles .section-title+p{margin:0 auto 24px;max-width:50%}
}
@media screen and (min-width:64.0625em){.home-spotlight .subtitle{font-size:1rem}
.home-events .grid{border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-bottom:2rem;padding-top:1.5rem}
.home-events .grid+.button{display:table;margin:0 auto}
}
.section.topic-feature{padding:0;position:relative}
.section.topic-feature .component-title{margin-top:40px}
.feature-list .media{width:25%;float:left;padding:0 16px 0 0;margin-top:4px}
.feature-list .item-content{overflow:hidden;padding-left:.125rem}
.feature-list .title{font-size:1rem;line-height:1.5;margin-bottom:rem-calc(20)/2}
.feature-list a:not(.button){color:#fff;text-decoration:underline}
.feature-list--item{margin-bottom:20px;border-bottom:1px solid #C9C4C2}
.feature-list--item::after,.feature-list--item::before{content:' ';display:table}
.feature-list--item::after{clear:both}
.feature-list--item:last-child{border-bottom:none}
.feature-list--item .item-meta{margin-bottom:rem-calc(20)}
.feature-list--item .item-meta.date{color:#6e635a}
.feature-item--single .bg-image-cover{position:relative;min-height:33vh;background-position:center top}
.feature-item--single .item-content{overflow:hidden;padding:1.5rem;position:relative}
.feature-item--single .item-meta,.feature-item--single .title a{color:#fff;position:relative}
.feature-item--single .item-content::before{content:'';position:absolute;background:url(img/notch-dark.svg) right bottom no-repeat;bottom:0;right:0;width:1000px;height:1000px}
.feature-item--single a:not(.button){text-decoration:underline}
.feature-item--single .meta{color:#fff;position:relative}
@media screen and (max-width:39.9375em){.section.topic-feature .one-half:first-of-type{margin-left:-.75rem;margin-right:-.75rem}
.feature-item--single .item-content::before{background:rgba(0,0,0,.6)}
}
@media screen and (min-width:40em){.section.topic-feature .component-title{margin-top:2.5rem}
.feature-list{padding-right:30px}
.topic-feature .one-half:first-of-type{padding-left:.75rem}
.topic-feature .one-half:nth-of-type(2){padding-left:0;padding-right:.75rem}
.feature-item--single .bg-image-cover{position:absolute;z-index:0;min-height:0;left:calc(50% + 12px);width:calc(50vw - 12px);max-width:1024px}
.feature-item--single .title{font-size:1.5rem;line-height:1.25;margin-bottom:rem-calc(20)/2;position:relative}
.feature-item--single .title a{color:#fff}
.feature-item--single .item-content{left:calc(50% + 12px);position:absolute;bottom:0;z-index:2;overflow:hidden;padding:1.5rem}
.feature-item--single .item-content::before{right:.75rem}
.one-half+.one-half:not(.second):not(.float-right):last-of-type,.one-third+.one-third:last-of-type,.one-third+.two-thirds:last-of-type{padding-right:.75rem}
.two-column-jobs{column-count:2}
}
.site-header .title{margin:16px 0}
.site-header .school-title{margin-bottom:0;margin-top:24px;line-height:1}
.site-header .school-title a{color:#6e635a}
.site-header .small-caps{display:block;font-size:1rem;margin-bottom:2px;text-transform:uppercase}
.site-header .title a{color:#4A3C31}
.rotator .slick-active:focus:after{pointer-events:none}
.two-column-jobs{margin-left:0;list-style-type:none}
@media screen and (min-width:64.0625em){.school-title+.title{margin-top:0}
.site-header span.plus{padding-left:10px}
.site-header span.plus:before{margin-left:-10px}
}
.topic-feature.bg-midnight a:not(.button):focus,.topic-feature.midnight .bg-secondary a:not(.button):focus{outline:#d1e4f6 solid 2px}
.bg-midnight .text:not(.cta) .button,.midnight .bg-secondary .text:not(.cta) .button{background:0 0;border-color:#fff;color:#fff}
.bg-midnight .text:not(.cta) .button.invert,.bg-midnight .text:not(.cta) .button:focus,.bg-midnight .text:not(.cta) .button:hover,.midnight .bg-secondary .text:not(.cta) .button.invert,.midnight .bg-secondary .text:not(.cta) .button:focus,.midnight .bg-secondary .text:not(.cta) .button:hover{background:#fff;color:#900}
.bg-midnight .text:not(.cta) .button.invert:focus,.bg-midnight .text:not(.cta) .button.invert:hover,.midnight .bg-secondary .text:not(.cta) .button.invert:focus,.midnight .bg-secondary .text:not(.cta) .button.invert:hover{background:0 0;border-color:#fff;color:#fff}
.bg-midnight .panel--interactive a:focus *,.bg-midnight .panel--interactive a:hover *,.midnight .bg-secondary .panel--interactive a:focus *,.midnight .bg-secondary .panel--interactive a:hover *{color:#006298}